[Desktop Entry]
Type=Application
Name=Quran Radio
GenericName=Internet Radio Player
Comment=Stream Quran Karim radio stations from your system tray
Exec=quran-radio
Icon=io.github.AhmadTakkoush.QuranRadio
Terminal=false
Categories=Audio;Player;
Keywords=quran;radio;islam;stream;
StartupNotify=false
X-GNOME-Autostart-enabled=true
